{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <main>
        <h3 style="text-align: left;">Your search returned TODO results</h3>
        <br>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Year Published</th>
                    <th scope="col">Average Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Test book 1</td>
                    <td>Gandharv</td>
                    <td>123456789</td>
                    <td>2020</td>
                    <td>5.0</td>
                  </tr>
            </tbody>
        </table>
    </main>
{% endblock %}